**Instructions**

We will have another simple example on two sample t test (pooled- when the variances are equal). \
But this time this is a one sided t-test.\
In a packing plant, a machine packs cartons with jars. \
It is supposed that a new machine will pack faster on the average than the machine currently used. \
To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. \
The results, in seconds, are shown in the tables in the file files_for_lab/machine.txt. \
Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other

**Hypothesis**

m0 = average speed of current machine\
m1 = average speed of new machine\
Null hypothesis: **m1 = m0**\
Alternative hypothesis: **m1 > m0** \
We choose a significance level of **alpha = 0.05**\
This is a **right-tailed test**.

In [53]:
import pandas as pd
import math
df = pd.read_csv("machine2.txt", sep = "\t")
df

   New machine      Old machine
0         42.1             42.7
1         41.0             43.6
2         41.3             43.8
3         41.8             43.3
4         42.4             42.5
5         42.8             43.5
6         43.2             43.1
7         42.3             41.7
8         41.8             44.0
9         42.7             44.1

In [54]:
df.columns

Index(['New machine', '    Old machine'], dtype='object')

In [55]:
df.rename(columns = {'    Old machine':'Old machine'}, inplace = True)
df.columns

Index(['New machine', 'Old machine'], dtype='object')

In [56]:
df['New machine'].mean()

42.14

In [58]:
m0 = df['New machine'].mean()
m1 = round(df['Old machine'].mean(),2)
n1 = 10
n2 = 10
degree = n1+n2 - 2
std1 = round(df['New machine'].std(),2)
std2 = round(df['Old machine'].std(),2)
m0, m1, std1, std2

(42.14, 43.23, 0.68, 0.75)

###### Calculating the T test

In [66]:
from scipy.stats import t
print('T statistic is ', round(math.sqrt(((n1 - 1)*std1**2 + (n2 - 1)*std2**2)/(n1 + n2 - 2)), 4))
print('The critical value is ', round(t.ppf(q=1-.05,df=degree), 4))
print("P value is: ", round((1- t.cdf(statistic,n1+n2-2)), 2))

T statistic is  0.7159
The critical value is  1.7341
P value is:  0.24

###### Conclusion

T statistic < critical value. \
The test statistic falls in the region between the critical region, **we accept the Null Hypothesis with a confidence level of 95%**. \
Also, the p value is more than 0.05.